<div class="small-12 medium-6 medium-left columns">
  <div class="row">
    <%= button_to "Today's Orders", order_totals_path(
    params: {"todays_orders" => true}),
    method: :get,
    class: "button expand" %>
  </div>
</div>
<div class="small-12 medium-6 medium-right columns">
  <%= form_tag(order_totals_path, method: :get) do %>
    <%= label_tag(:start_date, "Start Date") %>
    <%= date_select(:order_date_params ,:start_date) %>
    <%= label_tag(:end_date, "End Date") %>
    <%= date_select(:order_date_params ,:end_date) %>
    <%= submit_tag "See Orders in Date Range" %>
  <% end %>
</div>

<% if params[:order_date_params] || params[:todays_orders] %>
  <div class="small-12 small-left columns">
    <% if params[:todays_orders] %>
      <%= line_chart Order.where(arrival_time: Date.today..Date.tomorrow).group_by_hour(:arrival_time).count, :library => {:backgroundColor => "#F2D99C"} %>
    <% elsif params[:order_date_params] %>
      <%= line_chart Order.where(arrival_time: @start_date..@end_date).group_by_day(:arrival_time).count, :library => {:backgroundColor => "#F2D99C"} %>
    <% end %>
  </div>
  <div class="small-12 small-left columns">
    <table class="custom-light-background">
      <tr>
        <th>Section</th>
        <th>Food</th>
        <th>Arrival Time</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.section.name %></td>
          <td><%= order.food.name %></td>
          <td><%= order.clean_arrival_time %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @orders %>
  </div>
<% end %>
