<div class="small-12 columns">
  <div class="row">
    <%= form_tag(order_totals_path, method: :get) do %>
      <%= hidden_field_tag "todays_orders", true %>
      <%= submit_tag "Today's Orders", class: "button expand"  %>
    <% end %>
  </div>
</div>
<div class="custom-date-select">
  <%= form_tag(order_totals_path, method: :get) do %>
    <div class="row collapse">
      <div class="small-6 small-left columns">
        <%= label_tag(:start_date, "Start Date", class: "custom-date-select-text") %>
        <%= date_select(:order_date_params ,:start_date) %>
      </div>
      <div class="small-6 custom-small-right columns">
        <%= label_tag(:end_date, "End Date", class: "custom-date-select-text") %>
        <%= date_select(:order_date_params ,:end_date) %>
      </div>
      <div class="small-12 small-centered medium-6 columns">
        <%= submit_tag "See Orders in Date Range", class: "button small expand" %>
      </div>
    </div>
  <% end %>
</div>

<% if params[:order_date_params] || params[:todays_orders] %>
  <div class="small-12 small-left columns">
    <% if params[:todays_orders] %>
      <%= line_chart Order.where(arrival_time: Date.today..Date.tomorrow).group_by_hour(:arrival_time).count, :library => {:backgroundColor => "#F2D99C"} %>
    <% elsif params[:order_date_params] %>
      <%= line_chart Order.where(arrival_time: @start_date..@end_date).group_by_day(:arrival_time).count, :library => {:backgroundColor => "#F2D99C"} %>
    <% end %>
  </div>
  <div class="small-12 small-left columns">
    <table class="custom-light-background">
      <tr>
        <th>Section</th>
        <th>Food</th>
        <th>Arrival Time</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.section.name %></td>
          <td><%= order.food.name %></td>
          <td><%= order.clean_arrival_time %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @orders %>
  </div>
<% end %>
