<%= simple_form_for [current_user, @order], html: { class: "content", id: "section-#{section.id}" } do |f| %>
  <h1 class="center-text"><%= section.name %></h1>
  <%= hidden_field_tag 'section_id' , section.id %>
  <h3>Step 2: Choose a Food Item</h3>
  <%= f.input :food_id, collection: section.foods, label_method: :name %>
  <br>
  <h3>Step 3: Pick Your Arrival Time</h3>
  <%= f.time_select :arrival_time, minute_step: 5, start_hour: section.start_time.hour , end_hour: section.end_time.hour, ampm: true %>
  <%= f.button :submit %>
<% end %>
