<% if current_user.is_employee? %>
  <%= @current_section.name %>
  <% @orders.each do |order| %>
    <div id="myModal<%= order.id %>" class="reveal-modal" data-reveal>
      <h1><%= order.food.name %></h1>
      <%= order.user.first_name %>
      <%= order.user.last_name %>
      <%= link_to order.clean_arrival_time, section_order_path(@current_section, order) %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <%= link_to "Click me for order #{order.id}", '#', data: {:"reveal-id" => "myModal#{order.id}"} %>

    <%= form_for [order.user, order], url: user_order_path(order.user, order), method: :patch do |t| %>
      <%= t.hidden_field :status, value: "in progress" %>
      <%= t.submit "In Progress" %>
    <% end %>

    <%= form_for [order.user, order], url: user_order_path(order.user, order), method: :patch do |t| %>
      <%= t.hidden_field :status, value: "completed"%>
      <%= t.submit "Completed" %>
    <% end %>
    <br>
  <% end %>
<% else %>
  <% if !@current_orders.empty? %>
    <% @current_orders.each do |order| %>
      <%= order.food.name %>
      <%= order.clean_arrival_time %>
      <%= link_to 'Edit Order', edit_user_order_path(current_user, order) %>
      <%= link_to 'Cancel Order', user_order_path(current_user, order), method: :delete %>
    <% end %>
  <% end %>
  <br>
  <% @orders.each do |order| %>
      <%= order.food.name %>
      <%= order.clean_arrival_time %>
    <br>
  <% end %>
<% end %>
