<% if current_user.is_employee? %>
  <h3><%= @current_section.name %></h3>

  <% @orders.each do |order| %>
    <div id="myModal<%= order.id %>" class="reveal-modal" data-reveal>
      <h1><%= order.food.name %></h1>
      <h3><%= order.user.first_name %>
      <%= order.user.last_name %></h3><br>
      <h4><%= link_to order.clean_arrival_time, section_order_path(@current_section, order) %></h4>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div class="order">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <%= link_to '#',
            data: { :"reveal-id" => "myModal#{order.id}"} do %>

            <h4><%= order.food.name %></h4>
            <p><%= [order.user.first_name, order.user.last_name].join(' ') %></p>
            <p><%= order.clean_arrival_time %></p>
          <% end %>
        </div>

        <div class="small-12 medium-3 columns">
          <ul class="order-actions">
            <li>
              <%= form_for [order.user, order], url: user_order_path(order.user, order), method: :patch do |t| %>
                <%= t.hidden_field :status, value: "in progress" %>
                <%= t.submit "In Progress", class: "button alert expand" %>
              <% end %>
            </li>

            <li>
              <%= form_for [order.user, order], url: user_order_path(order.user, order), method: :patch do |t| %>
                <%= t.hidden_field :status, value: "completed"%>
                <%= t.submit "Completed", class: "button success expand", id: "completed_#{order.id}" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <% if !@current_orders.empty? %>
    <% @current_orders.each do |order| %>
      <%= order.food.name %>
      <%= order.clean_arrival_time %>
      <%= link_to 'Edit Order', edit_user_order_path(current_user, order) %>
      <%= link_to 'Cancel Order', user_order_path(current_user, order), method: :delete %>
    <% end %>
  <% end %>
  <br>
  <% @orders.each do |order| %>
      <%= order.food.name %>
      <%= order.clean_arrival_time %>
    <br>
  <% end %>
<% end %>
