<% if current_user.is_employee? %>
  <% content_for :head do %>
    <META HTTP-EQUIV="refresh" CONTENT="45">
  <% end %>
  <div class="center-text">
    <h1><%= @current_section.name %></h1>
  </div>
  <% @orders.each do |order| %>
    <% if order.status == 'in progress' %>
      <div class="order order-progress clearfix" section-order-id="<%= order.id %>">
      <% progress_toggle = 'not started' %>
    <% else %>
      <div class="order clearfix" section-order-id="<%= order.id %>">
      <% progress_toggle = 'in progress' %>
    <% end %>
      <div id="myModal<%= order.id %>" class="reveal-modal" data-reveal>
        <h1><%= order.food.name %></h1>
        <h2><%= order.user.full_name %></h2><br>
        <h4><%= link_to order.clean_arrival_time, section_order_path(@current_section, order) %></h4>
        <a class="close-reveal-modal">&#215;</a>
      </div>
<!-- include picture of person potentially -->
<!-- page to show completed orders -->
      <div class="row">
        <div class="small-12 medium-9 columns">
          <%= link_to '#',
            data: { :"reveal-id" => "myModal#{order.id}"} do %>
            <% if order.food.picture_url %>
              <div class="small-6 small-left medium-4 medium-left columns">
            <% else %>
              <div class="small-12 small-left columns">
            <% end %>
              <h3><%= order.food.name %></h3>
              <h4><%= order.user.full_name %></h4>
              <h4><%= order.clean_arrival_time %></h4>
            </div>
            <div class="small-6 small-right medium-4 medium-centered columns">
              <%= image_tag order.food.picture_url(:thumb).to_s %>
            </div>
          <% end %>
        </div>

        <div class="small-12 medium-3 columns">
          <ul class="order-actions">
            <li>
              <%= button_to "In Progress", user_order_path(order.user, order,
                params: {order: {status: progress_toggle}} ),
                form: { class: 'order-working-button' },
                id: "working_#{order.id}",
                method: :patch,
                class: "button alert expand" %>
            </li>
            <li>
              <%= button_to "Completed", user_order_path(order.user, order,
                params: {order: {status: "completed"}} ),
                form: { class: 'order-complete-button' },
                id: "completed_#{order.id}",
                method: :patch,
                class: "button success expand" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @orders %>
<% else %>
  <div class="small-12 small-centered medium-9 columns">
    <% if !@current_orders.empty? %>
      <h1>Current Orders</h1>
      <table class="custom-light-background">
        <tr>
          <th>Section</th>
          <th>Food Item</th>
          <th>Arrival Time</th>
          <th></th>
          <th></th>
        </tr>
        <% @current_orders.each do |order| %>
          <tr>
            <td><%= order.section.name %></td>
            <td><%= order.food.name %></td>
            <td><%= order.clean_arrival_time %></td>
            <td><%= link_to 'Edit Order', edit_user_order_path(current_user, order) %></td>
            <td><%= link_to 'Cancel Order', user_order_path(current_user, order), method: :delete %></td>
          </tr>
        <% end %>
      </table>
      <%= paginate @current_orders %>
    <% end %>
    <br>
    <h1>Previous Orders</h1>
    <table class="custom-light-background">
      <tr>
        <th>Section</th>
        <th>Food Item</th>
        <th>Arrival Time</th>
      </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.section.name %></td>
            <td><%= order.food.name %></td>
            <td><%= order.clean_arrival_time %></td>
          </tr>
        <% end %>
    </table>
    <%= paginate @orders %>
  </div>
<% end %>
