<ul>
  <% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <li><%= link_to 'Add Section', new_section_path %></li>
    <% end %>
    <% if current_user.is_employee? %>

    <% else %>
      <li><%= link_to 'Order Food', new_user_order_path(current_user) %></li>
      <li><%= link_to 'My Orders', user_orders_path(current_user) %></li>
    <% end %>
  <% else %>
    <li><%= link_to 'Order Food', new_user_session_path %></li>
  <% end %>
  <%= link_to 'View Sections', sections_path %>
</ul>
