<div class="custom-front-background-color">
  <% if flash.any? %>
    <div data class="alert-box alert small-11 small-centered columns center-text">
      <% flash.each do |name, msg| %>
        <%= msg %>
      <% end %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <div class="show-for-small-only">
    <%= image_tag "http://hdwallpapercollection.com/wp-content/uploads/2013/02/yummy-sea-food-wallpaper.jpg" %>
  </div>
  <div class="front-page-container">
    <div class="large-4 medium-6 small-12 small-left columns">
      <ul>
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to 'Add Section', new_section_path, id: "add_section", class: "padded-front-page-button" %></li>
            <li><%= link_to "See Order Totals", order_totals_path, id: "see_order_totals", class: "padded-front-page-button"  %></li>
          <% end %>
          <% if current_user.is_employee? %>

          <% else %>
            <li><%= link_to 'Order Food', new_user_order_path(current_user), id: "order_food", class: "padded-front-page-button"  %></li>
            <li><%= link_to 'My Orders', user_orders_path(current_user), id: "my_orders", class: "padded-front-page-button"  %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Order Food', new_user_session_path, id: "order_food", class: "padded-front-page-button"  %></li>
        <% end %>
        <li><%= link_to 'View Sections', sections_path, id: "view_sections", class: "padded-front-page-button"  %></li>
      </ul>
    </div>
    <div class="front-page-description medium-6 medium-right columns">
      <h1 class="center-text bold-white-text">Salem Cafe</h1>
      <p>Welcome to the Salem Cafe website, where you can place an order and have it ready for pick-up when you arrive. </p>
      <p>We are proud to be your foodservice management team and hope you find this website useful by providing you the latest information about our menus. We are always working to serve you better.</p>
    </div>
  </div>
</div>
