<ul>
  <% if user_signed_in? %>
    <% if current_user.is_employee? %>
      <li><%= link_to 'Add Food', new_food_path %></li>
    <% end %>
    <li><%= link_to 'Order Food', new_user_order_path(current_user) %></li>
    <li><%= link_to 'My Orders', user_orders_path(current_user) %></li>
  <% else %>
    <li><%= link_to 'Order Food', new_user_session_path %></li>
  <% end %>
  <%= link_to 'See Foods', foods_path %>
</ul>
