<div class="custom-front-background-color">
  <% if flash.any? %>
    <div data class="alert-box alert small-11 small-centered columns center-text">
      <% flash.each do |name, msg| %>
        <%= msg %>
      <% end %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <div class="small-7 small-centered columns">
    <ul>
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <li><%= link_to 'Add Section', new_section_path, id: "add_section", class: "padded-button" %></li>
          <li><%= link_to "See Order Totals", order_totals_path, id: "see_order_totals", class: "padded-button"  %></li>
        <% end %>
        <% if current_user.is_employee? %>

        <% else %>
          <li><%= link_to 'Order Food', new_user_order_path(current_user), id: "order_food", class: "padded-button"  %></li>
          <li><%= link_to 'My Orders', user_orders_path(current_user), id: "my_orders", class: "padded-button"  %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'Order Food', new_user_session_path, id: "order_food", class: "padded-button"  %></li>
      <% end %>
      <li><%= link_to 'View Sections', sections_path, id: "view_sections", class: "padded-button"  %></li>
    </ul>
  </div>
</div>
