<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Salem Cafe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    <nav class='top-bar', >
    <div>
      <ul>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
        </li>
      </ul>
      </div>
    </nav>

    <div class='row'>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>

    <footer>
      <%= link_to 'Contact Us', new_contact_path %>
    </footer>
  </body>
</html>
