<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Salem Cafe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class='top-bar'>
      <div class="row">
        <ul class="left">
          <li>
            <%= link_to 'Salem Cafe', root_path, class: "button" %>
          </li>
        </ul>
        <ul class="right">
          <li class=>
            <% if user_signed_in? %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "small button" %>
            <% else %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "small button" %>
              <%= link_to 'Sign In', new_user_session_path, class: "small button" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class='row'>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <footer>
      <%= link_to 'Contact Us', new_contact_path %>
    </footer>
  </body>
</html>
