<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Salem Cafe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="non-front-page-body">
    <div class="contain-to-grid">
      <%= render 'layouts/medium_non_front_nav' %>

      <%= render 'layouts/small_non_front_nav' %>
    </div>
    <div class="custom-background-color row">
      <div class='row'>
        <% if flash.any? %>
          <% flash.each do |name, msg| %>
            <div data-alert class="alert-box alert center-text">
              <%= msg %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% end %>

        <div class="custom-margin">
          <%= yield %>
        </div>
      </div>

      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>

    </div>
  </body>
</html>
