<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Salem Cafe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="front-page-body">
    <div class="contain-to-grid">
      <nav class='top-bar show-for-large-up' data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'Salem Cafe', root_path %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to 'Contact Us', new_contact_path, id: "contact_us" %></li>
          </ul>
          <ul class="right">
            <li><%= link_to 'View Sections', sections_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, id: "sign_out" %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path, id: "sign_up" %></li>
              <li><%= link_to 'Sign In', new_user_session_path, id: "sign_in" %></li>
            <% end %>
          </ul>
        </section>
      </nav>

      <nav class="top-bar show-for-small-up hide-for-large-up" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Salem Cafe</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Options</a>
              <ul class="dropdown">
                <% if user_signed_in? %>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                <% end %>
                <% if user_signed_in? %>
                  <% if current_user.is_admin? %>
                    <li><%= link_to 'Add Section', new_section_path %></li>
                    <li><%= link_to "See Order Totals", order_totals_path %></li>
                  <% end %>
                  <% if current_user.is_employee? %>

                  <% else %>
                    <li><%= link_to 'Order Food', new_user_order_path(current_user) %></li>
                    <li><%= link_to 'My Orders', user_orders_path(current_user) %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to 'Order Food', new_user_session_path %></li>
                <% end %>
                <li><%= link_to 'View Sections', sections_path %></li>
                <li><%= link_to 'Contact Us', new_contact_path %></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row">

      <div class='row'>
        <div class="custom-margin">
          <%= yield %>
        </div>
      </div>

      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>

    </div>
  </body>
</html>
